// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Radxa Limited
 * Copyright (c) 2022 Amarula Solutions(India)
 */

/dts-v1/;
#include <dt-bindings/soc/rockchip,vop2.h>
#include "rk3566.dtsi"
#include "rk3566-radxa-cm3.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/pwm/pwm.h>

/ {
	model = "Radxa Compute Module 3(CM3) IO Board";
	compatible = "radxa,cm3-io", "radxa,cm3", "rockchip,rk3566";

	aliases {
		ethernet0 = &gmac1;
		mmc1 = &sdmmc0;
	};

	chosen: chosen {
		stdout-path = "serial2:1500000n8";
	};

	gmac1_clkin: external-gmac1-clock {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		clock-output-names = "gmac1_clkin";
		#clock-cells = <0>;
	};

	hdmi-con {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};

	leds {
		compatible = "gpio-leds";

		led-1 {
			gpios = <&gpio4 RK_PA4 GPIO_ACTIVE_LOW>;
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_ACTIVITY;
			linux,default-trigger = "heartbeat";
			pinctrl-names = "default";
			pinctrl-0 = <&pi_nled_activity>;
		};
	};

	vcc5v0_usb30: vcc5v0-usb30-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb30";
		enable-active-high;
		gpio = <&gpio3 RK_PC2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_usb30_en_h>;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc_sys>;
	};

	vcca1v8_image: vcca1v8-image-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcca1v8_image";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_1v8_p>;
	};

	vdda0v9_image: vdda0v9-image-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcca0v9_image";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vdda_0v9>;
	};

	vcc_mipi: vcc-mipi {
		status = "okay";
		compatible = "regulator-fixed";
		regulator-name = "vcc_mipi";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc_mipi_pin>;
		gpio = <&gpio0 RK_PD6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	vcc_lcd_tp: vcc-lcd-tp {
		status = "okay";
		compatible = "regulator-fixed";
		regulator-name = "vcc_lcd_tp";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc_tp_pin>;
		gpio = <&gpio4 RK_PA1 GPIO_ACTIVE_LOW>;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	backlight: backlight {
		status = "okay";
		compatible = "pwm-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&dsi1_backlight_en>;
		pwms = <&pwm2 0 25000 PWM_POLARITY_INVERTED>;
		enable-gpios = <&gpio3 RK_PD7 0>;
		post-pwm-on-delay-ms = <10>;
		pwm-off-delay-ms = <10>;
		brightness-levels = <
			0  20  20  21  21  22  22  23
			23  24  24  25  25  26  26  27
			27  28  28  29  29  30  30  31
			31  32  32  33  33  34  34  35
			35  36  36  37  37  38  38  39
			40  41  42  43  44  45  46  47
			48  49  50  51  52  53  54  55
			56  57  58  59  60  61  62  63
			64  65  66  67  68  69  70  71
			72  73  74  75  76  77  78  79
			80  81  82  83  84  85  86  87
			88  89  90  91  92  93  94  95
			96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255
		>;
		default-brightness-level = <200>;
	};
};

&combphy1 {
	status = "okay";
};

&gmac1 {
	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>, <&gmac1_clkin>;
	assigned-clock-rates = <0>, <125000000>;
	clock_in_out = "input";
	phy-handle = <&rgmii_phy1>;
	phy-mode = "rgmii";
	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m0_miim
		     &gmac1m0_tx_bus2
		     &gmac1m0_rx_bus2
		     &gmac1m0_rgmii_clk
		     &gmac1m0_rgmii_bus
		     &gmac1m0_clkinout>;
	snps,reset-gpio = <&gpio4 RK_PC2 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;
	tx_delay = <0x46>;
	rx_delay = <0x2e>;
	status = "okay";
};

&hdmi {
	avdd-0v9-supply = <&vdda0v9_image>;
	avdd-1v8-supply = <&vcca1v8_image>;
	status = "okay";
};

&hdmi_in {
	hdmi_in_vp0: endpoint {
		remote-endpoint = <&vp0_out_hdmi>;
	};
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

&hdmi_sound {
	status = "okay";
};

&mdio1 {
	rgmii_phy1: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
	};
};

&pinctrl {
	gmac1 {
		gmac1m0_miim: gmac1m0-miim {
			rockchip,pins =
				/* gmac1_mdcm0 */
				<3 RK_PC4 3 &pcfg_pull_none_drv_level_15>,
				/* gmac1_mdiom0 */
				<3 RK_PC5 3 &pcfg_pull_none_drv_level_15>;
		};

		gmac1m0_rx_bus2: gmac1m0-rx-bus2 {
			rockchip,pins =
				/* gmac1_rxd0m0 */
				<3 RK_PB1 3 &pcfg_pull_none_drv_level_15>,
				/* gmac1_rxd1m0 */
				<3 RK_PB2 3 &pcfg_pull_none_drv_level_15>,
				/* gmac1_rxdvcrsm0 */
				<3 RK_PB3 3 &pcfg_pull_none_drv_level_15>;
		};

		gmac1m0_tx_bus2: gmac1m0-tx-bus2 {
			rockchip,pins =
				/* gmac1_txd0m0 */
				<3 RK_PB5 3 &pcfg_pull_none_drv_level_15>,
				/* gmac1_txd1m0 */
				<3 RK_PB6 3 &pcfg_pull_none_drv_level_15>,
				/* gmac1_txenm0 */
				<3 RK_PB7 3 &pcfg_pull_none_drv_level_15>;
		};

		gmac1m0_rgmii_clk: gmac1m0-rgmii-clk {
			rockchip,pins =
				/* gmac1_rxclkm0 */
				<3 RK_PA7 3 &pcfg_pull_none_drv_level_15>,
				/* gmac1_txclkm0 */
				<3 RK_PA6 3 &pcfg_pull_none_drv_level_15>;
		};

		gmac1m0_rgmii_bus: gmac1m0-rgmii-bus {
			rockchip,pins =
				/* gmac1_rxd2m0 */
				<3 RK_PA4 3 &pcfg_pull_none_drv_level_15>,
				/* gmac1_rxd3m0 */
				<3 RK_PA5 3 &pcfg_pull_none_drv_level_15>,
				/* gmac1_txd2m0 */
				<3 RK_PA2 3 &pcfg_pull_none_drv_level_15>,
				/* gmac1_txd3m0 */
				<3 RK_PA3 3 &pcfg_pull_none_drv_level_15>;
		};

		gmac1m0_clkinout: gmac1m0-clkinout {
			rockchip,pins =
				/* gmac1_mclkinoutm0 */
				<3 RK_PC0 3 &pcfg_pull_none_drv_level_15>;
		};
	};

	leds {
		pi_nled_activity: pi-nled-activity {
			rockchip,pins = <4 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdcard {
		sdmmc_pwren: sdmmc-pwren {
			rockchip,pins = <0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb {
		vcc5v0_usb30_en_h: vcc5v0-host-en-h {
			rockchip,pins = <3 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&sdmmc0 {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	vqmmc-supply = <&vccio_sd>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd &sdmmc0_det &sdmmc0_pwren>;
	status = "okay";
};

&uart2 {
	status = "okay";
};

&usb2phy0_host {
	phy-supply = <&vcc5v0_usb30>;
	status = "okay";
};

&usb2phy1_host {
	status = "okay";
};

&usb2phy1_otg {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host1_xhci {
	status = "okay";
};

&usb2phy0_otg {
	status = "okay";
};

&usb_host0_xhci {
	status = "okay";
};

&vop {
	assigned-clocks = <&cru DCLK_VOP0>, <&cru DCLK_VOP1>;
	assigned-clock-parents = <&pmucru PLL_HPLL>, <&cru PLL_VPLL>;
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&vp0 {
	vp0_out_hdmi: endpoint@ROCKCHIP_VOP2_EP_HDMI0 {
		reg = <ROCKCHIP_VOP2_EP_HDMI0>;
		remote-endpoint = <&hdmi_in_vp0>;
	};
};

&dsi1 {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	dsi_panel: panel@0 {
		status = "okay";
		compatible = "simple-panel-dsi";
		reg = <0>;
		backlight = <&backlight>;
		power-supply = <&vcc_mipi>;
		pinctrl-names = "default";
		pinctrl-0 = <&dsi1_lcd_rst_gpio>;

		width-mm = <107>;
		height-mm = <199>;
		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST | MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
		dsi,format = <MIPI_DSI_FMT_RGB888>;
		dsi,lanes  = <2>;
		panel-init-sequence = [
			15 00 02 E0 00
			15 00 02 E1 93
			15 00 02 E2 65
			15 00 02 E3 F8
			15 00 02 80 03
			15 00 02 E0 01
			15 00 02 00 00
			15 00 02 01 72
			15 00 02 03 00
			15 00 02 04 65
			15 00 02 0C 74
			15 00 02 17 00
			15 00 02 18 B7
			15 00 02 19 00
			15 00 02 1A 00
			15 00 02 1B B7
			15 00 02 1C 00
			15 00 02 24 FE
			15 00 02 37 19
			15 00 02 38 05
			15 00 02 39 00
			15 00 02 3A 01
			15 00 02 3B 01
			15 00 02 3C 70
			15 00 02 3D FF
			15 00 02 3E FF
			15 00 02 3F FF
			15 00 02 40 06
			15 00 02 41 A0
			15 00 02 43 1E
			15 00 02 44 0F
			15 00 02 45 28
			15 00 02 4B 04
			15 00 02 55 02
			15 00 02 56 01
			15 00 02 57 A9
			15 00 02 58 0A
			15 00 02 59 0A
			15 00 02 5A 37
			15 00 02 5B 19
			15 00 02 5D 78
			15 00 02 5E 63
			15 00 02 5F 54
			15 00 02 60 48
			15 00 02 61 45
			15 00 02 62 38
			15 00 02 63 3D
			15 00 02 64 28
			15 00 02 65 43
			15 00 02 66 41
			15 00 02 67 43
			15 00 02 68 62
			15 00 02 69 50
			15 00 02 6A 57
			15 00 02 6B 49
			15 00 02 6C 44
			15 00 02 6D 37
			15 00 02 6E 23
			15 00 02 6F 10
			15 00 02 70 78
			15 00 02 71 63
			15 00 02 72 54
			15 00 02 73 49
			15 00 02 74 45
			15 00 02 75 38
			15 00 02 76 3D
			15 00 02 77 28
			15 00 02 78 43
			15 00 02 79 41
			15 00 02 7A 43
			15 00 02 7B 62
			15 00 02 7C 50
			15 00 02 7D 57
			15 00 02 7E 49
			15 00 02 7F 44
			15 00 02 80 37
			15 00 02 81 23
			15 00 02 82 10
			15 00 02 E0 02
			15 00 02 00 47
			15 00 02 01 47
			15 00 02 02 45
			15 00 02 03 45
			15 00 02 04 4B
			15 00 02 05 4B
			15 00 02 06 49
			15 00 02 07 49
			15 00 02 08 41
			15 00 02 09 1F
			15 00 02 0A 1F
			15 00 02 0B 1F
			15 00 02 0C 1F
			15 00 02 0D 1F
			15 00 02 0E 1F
			15 00 02 0F 5F
			15 00 02 10 5F
			15 00 02 11 57
			15 00 02 12 77
			15 00 02 13 35
			15 00 02 14 1F
			15 00 02 15 1F
			15 00 02 16 46
			15 00 02 17 46
			15 00 02 18 44
			15 00 02 19 44
			15 00 02 1A 4A
			15 00 02 1B 4A
			15 00 02 1C 48
			15 00 02 1D 48
			15 00 02 1E 40
			15 00 02 1F 1F
			15 00 02 20 1F
			15 00 02 21 1F
			15 00 02 22 1F
			15 00 02 23 1F
			15 00 02 24 1F
			15 00 02 25 5F
			15 00 02 26 5F
			15 00 02 27 57
			15 00 02 28 77
			15 00 02 29 35
			15 00 02 2A 1F
			15 00 02 2B 1F
			15 00 02 58 40
			15 00 02 59 00
			15 00 02 5A 00
			15 00 02 5B 10
			15 00 02 5C 06
			15 00 02 5D 40
			15 00 02 5E 01
			15 00 02 5F 02
			15 00 02 60 30
			15 00 02 61 01
			15 00 02 62 02
			15 00 02 63 03
			15 00 02 64 6B
			15 00 02 65 05
			15 00 02 66 0C
			15 00 02 67 73
			15 00 02 68 09
			15 00 02 69 03
			15 00 02 6A 56
			15 00 02 6B 08
			15 00 02 6C 00
			15 00 02 6D 04
			15 00 02 6E 04
			15 00 02 6F 88
			15 00 02 70 00
			15 00 02 71 00
			15 00 02 72 06
			15 00 02 73 7B
			15 00 02 74 00
			15 00 02 75 F8
			15 00 02 76 00
			15 00 02 77 D5
			15 00 02 78 2E
			15 00 02 79 12
			15 00 02 7A 03
			15 00 02 7B 00
			15 00 02 7C 00
			15 00 02 7D 03
			15 00 02 7E 7B
			15 00 02 E0 04
			15 00 02 00 0E
			15 00 02 02 B3
			15 00 02 09 60
			15 00 02 0E 2A
			15 00 02 36 59
			15 00 02 E0 00
			15 00 02 80 01
			15 00 02 E0 00
			15 00 02 11 00
			15 78 02 29 00
		];

		panel-exit-sequence = [
			05 00 01 28
			05 00 01 10
		];

		disp_timings0: display-timings {
			native-mode = <&dsi0_timing0>;
			dsi0_timing0: timing0 {
				clock-frequency = <70000000>;
				hactive = <800>;
				vactive = <1280>;
				hsync-len = <20>;
				hback-porch = <20>;
				hfront-porch = <40>;
				vsync-len = <4>;
				vback-porch = <28>;
				vfront-porch = <30>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				panel_in_dsi: endpoint {
					remote-endpoint = <&dsi_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi>;
			};
		};
	};
};

&dsi1_in_vp0 {
	status = "okay";
};

&video_phy1 {
	status = "okay";
};

&hdmi_in_vp0 {
	status = "disabled";
};

&hdmi {
	status = "disabled";
};

&route_dsi1 {
	status = "okay";
	connect = <&vp0_out_dsi1>;
};

&i2c2 {
	status = "okay";
	pinctrl-0 = <&i2c2m1_xfer>;
	#address-cells = <1>;
	#size-cells = <0>;

	gt9xx: gt9xx@14 {
		status = "okay";
		compatible = "goodix,gt9xx";
		reg = <0x14>;
		pinctrl-names = "default";
		pinctrl-0 = <&gt9xx_gpio>;
		touch-gpio = <&gpio0 RK_PB3 IRQ_TYPE_LEVEL_HIGH>;
		reset-gpio = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;
		max-x = <800>;
		max-y = <1280>;
		tp-size = <9112>;
		tp-supply = <&vcc_lcd_tp>;
	};
};

&pwm2 {
	status = "okay";
};

&pinctrl {
	gt9xx {
		gt9xx_gpio: gt9xx-gpio {
			rockchip,pins =
				<0 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>,
				<0 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	lcd-vcc {
		vcc_mipi_pin: vcc-mipi-pin {
			rockchip,pins = <0 RK_PD6 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		vcc_tp_pin: vcc-tp-pin {
			rockchip,pins = <4 RK_PA1 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	dsi1-lcd {
		dsi1_lcd_rst_gpio: dsi1-lcd-rst-gpio {
			rockchip,pins = <4 RK_PA0 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		dsi1_backlight_en: dsi1-backlight-en {
			rockchip,pins = <3 RK_PD7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};